.event-banner{
    width: 100%;
    height: 350px;
    background-image:url("../images/eventBg.jpg");
    /* Image by photosforyou from Pixabay */
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    position: relative;
}

.event-banner::after {
  content: '';
  background-color: rgba(0,0,0,.7);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.event-banner h2{
    margin: 0;
    padding: .2em;
    color: #FFF;
    position: absolute;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%);
    top: 50%;
    z-index: 1;
}


.reqstar {
    color: red;
}

.helpspan {
    color: red;
}

#submitconfirm {
    font-size: 1.25em;
}

span {
    margin-left: 0.5em;
    color: red;
    font-size: 0.8em;
  }
  
  .form-container {
    padding-top: 2em;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 1em;
  }
  
  form {
    max-width: 80%;
    margin: 0 auto;
  }
  label {
    font-size: 1.3em;
  }
  input, select, textarea {
    width: 100%;
    padding: 0.2em;
    font-size: 1.1em;
  }

  .submit-div {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2em;
    padding-top: 2em;
  }
  #submit_btn {
    font-size: 1.2em;
    width: 50%;
    padding: 0.2em;
  }

 
  